<footer class="footer footer-padding">
    <div class="container content">
            <div class="column is-narrow has-text-centered is-size-7-mobile">
                &copy;  <a href="/"><%= get_config('author') || get_config('title') %>&nbsp;</a>
                2013 - <%= date(new Date(), 'YYYY') %>
            </div>
    </div>
    <script async src="//busuanzi.ibruce.info/busuanzi/2.3/busuanzi.pure.mini.js"></script>
</footer>
